<?xml version="1.0"?>
<openbox_menu>

    <menu id="root-menu" label="Menu">

        <item label="Chrome">
            <action name="Execute">
                <command>google-chrome-stable</command>
            </action>
        </item>

        <item label="Konsole">
            <action name="Execute">
                <command>konsole</command>
            </action>
        </item>

        <item label="Dolphin">
            <action name="Execute">
                <command>dolphin</command>
            </action>
        </item>

        <item label="Kate">
            <action name="Execute">
                <command>kate</command>
            </action>
        </item>

        <separator/>

        <item label="Exit">
            <action name="Exit"/>
        </item>

    </menu>

</openbox_menu>
